@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

@layer base {
  body {
    @apply font-brand-body !important;
    @apply text-base md:text-lg xl:text-xl font-normal;
  }

  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    @apply font-brand-title font-medium !important;
  }
  h1, .h1 {
    @apply text-5xl md:text-6xl xl:text-7xl;
  }
  h2, .h2 {
    @apply text-4xl md:text-5xl xl:text-6xl;
  }
  h3, .h3 {
    @apply text-3xl md:text-4xl xl:text-5xl;
  }
  h4, .h4 {
    @apply text-2xl md:text-3xl xl:text-4xl;
  }
  h5, .h5 {
    @apply text-xl md:text-2xl xl:text-3xl;
  }
  h6, .h6 {
    @apply text-lg md:text-xl xl:text-2xl;
  }

  .smoll {
    @apply text-2xs md:text-xs xl:text-sm;
  }
}

@layer components {
  /* Buttons */
  .btn {
    @apply flex justify-center items-center space-x-2 xl:space-x-3 px-5 md:px-6 xl:px-7 py-2 border border-solid rounded-lg text-center font-bold disabled:opacity-50 transition-all duration-300 cursor-pointer disabled:cursor-not-allowed;
  }
  .btn-primary {
    @apply border-accent hover:border-accent-dark disabled:hover:border-accent bg-accent hover:bg-accent-dark disabled:hover:bg-accent text-white;
  }
  .btn-primary-outlined {
    @apply border-accent hover:border-accent-dark disabled:hover:border-accent bg-transparent text-accent hover:text-accent-dark disabled:hover:text-accent;
  }
  .btn-secondary {
    @apply border-secondary-light hover:border-secondary disabled:hover:border-secondary-light bg-secondary-light hover:bg-secondary disabled:hover:bg-secondary-light text-white;
  }
  .btn-secondary-outlined {
    @apply border-secondary-light hover:border-secondary disabled:hover:border-secondary-light bg-transparent text-secondary-light hover:text-secondary disabled:hover:text-secondary-light;
  }
  .btn-ghost {
    @apply border-none text-inky-lighter hover:text-inky disabled:hover:text-inky-lighter;
  }
  .btn-social {
    @apply w-full flex justify-center mx-0 mt-0 mb-4 px-5 md:px-6 xl:px-7 py-2 rounded-lg text-center font-bold disabled:opacity-50 transition-all !important;
  }
  .btn-icon {
    @apply h-5 md:h-6 xl:h-7 w-5 md:w-6 xl:w-7;
  }
  .btn-faIcon {
    @apply text-xl md:text-2xl xl:text-3xl;
  }

  /* Inputs */
  input.read-only {
    @apply border-transparent !important;
  }
  .radio input:checked ~ span, .checkbox input:checked ~ span {
    @apply bg-primary !important;
  }
  .radio span::after, .checkbox span::after {
    @apply absolute block invisible transition duration-300;
    content: "";
  }
  .radio input:checked ~ span::after, .checkbox input:checked ~ span::after {
    @apply visible;
  }

  /* Input Radio */
  .radio span::after {
    @apply top-1 md:top-1.5 xl:top-2 left-1 md:left-1.5 xl:left-2 h-3 w-3 bg-white rounded-full;
  }
  /* Input Checkbox */
  .checkbox span::after {
    @apply top-1 md:top-1.5 xl:top-2 left-0.5 md:left-1 xl:left-1.5 h-2 w-4 border-b-2 border-l-2 border-white transform -rotate-45;
  }

  /* NavBar */
  .navbar-icon svg {
    @apply h-8 md:h-12 w-8 md:w-12;
  }
  .navbar-icon.active svg {
    @apply h-10 md:h-16 xl:h-12 w-10 md:w-16 xl:w-12;
  }
  .navbar-item:nth-of-type(1) {
    @apply xl:order-5;
  }
  .navbar-item:nth-of-type(2) {
    @apply xl:order-2;
  }
  .navbar-item:nth-of-type(3) {
    @apply xl:order-1;
  }
  .navbar-item:nth-of-type(4) {
    @apply xl:order-3;
  }
  .navbar-item:nth-of-type(5) {
    @apply xl:order-4;
  }
}

@layer utilities {
  @variants responsive {
    .shadow-x-xl {
      box-shadow: 20px 0px 25px rgba(0, 0, 0, 0.1), 10px 0px 10px rgba(0, 0, 0, 0.04);
    }
  }
}
